@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:border-transparent;
  }
}
